<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="pms.dao.BoardDao">
  <resultMap type="Board" id="BoardMap">
    <id     column="BNO"    property="bno"/>
    <result column="TITLE"    property="title"/>
    <result column="MLOCA"    property="mloca"/>
    <result column="MTIME"    property="mtime"/>
    <result column="MDAY"    property="mday"/>
    <result column="DISTANCE"    property="distance"/>
    <result column="TIME"    property="time"/>
    <result column="PNUM"    property="pnum"/>
    <result column="PH"    property="ph"/>
    <result column="CDT"    property="createdDate"/>
    <result column="RBTYPE"    property="rbtype"/>
    <result column="MNO"    property="mno"/>
    <result column="LOCA"    property="loca"/>
  </resultMap>
  
  <insert id="insert" parameterType="Board">
    insert into RIDINGBOARD(TITLE,MLOCA,MTIME,MDAY,DISTANCE,TIME,PNUM,PH,CDT,RBTYPE,MNO,LOCA) 
    values(#{title},#{mloca},#{mtime},#{mday},#{distance},#{time},#{pnum},#{ph},now(),#{rbtype},#{mno},#{loca})
  </insert>
  
  <insert id="insertxy" parameterType="map">
    insert into MAP(AB,BB,BNO) values(#{ab},#{bb},#{bno})
  </insert>
  
  <insert id="putImg" parameterType="map">
    insert into RBIMG(BNO,IMGLO) 
    values(#{bno},#{dbpath})
  </insert>
  
  <update id="update" parameterType="Board">
    update RIDINGBOARD set
      TITLE=#{title}, 
      MLOCA=#{mloca},
      MTIME=#{mtime},
      MDAY=#{mday},
      DISTANCE=#{distance},
      TIME=#{time},
      PNUM=#{pnum},
      PH=#{ph}
    where BNO=#{bno}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from RIDINGBOARD 
    where BNO=#{no}
  </delete>
  
  <delete id="deleteMap" parameterType="int">
    delete from MAP 
    where BNO=#{no}
  </delete>
  
  <delete id="deleteMemberList" parameterType="int">
    delete from MEMBERLIST 
    where BNO=#{bno}
  </delete>

  <select id="selectList" resultMap="BoardMap" parameterType="map">
    select  b.BNO,b.TITLE,b.MLOCA,b.MTIME,b.MDAY,b.DISTANCE,b.TIME,b.PNUM,
            b.PH,b.CDT,b.RBTYPE,b.MNO,b.LOCA,m.MNM 
    from RIDINGBOARD b inner join MEMBERS m
    where RBTYPE=#{rbtype} and loca=#{loca}
    order by BNO DESC
    limit #{startIndex}, #{length}
  </select>
  
  <select id="selectListSchedule" resultMap="BoardMap" parameterType="map">
    select  BNO,TITLE,MLOCA,MTIME,MDAY,DISTANCE,TIME,PNUM,PH,CDT,RBTYPE,MNO,LOCA 
    from RIDINGBOARD 
    where MNO=#{no} and MDAY>=now() and RBTYPE=#{rbtype}
    order by BNO DESC
    limit #{startIndex}, #{length}
  </select>
  
   <select id="selectListHistory" resultMap="BoardMap" parameterType="map">
    select  BNO,TITLE,MLOCA,MTIME,MDAY,DISTANCE,TIME,PNUM,PH,CDT,RBTYPE,MNO,LOCA 
    from RIDINGBOARD 
    where MNO=#{no} and MDAY <![CDATA[ < ]]> now() and RBTYPE=#{rbtype}
    order by BNO DESC
    limit #{startIndex}, #{length}
  </select>
  
  <select id="getImg" resultType="String" parameterType="map">
    select IMGLO 
    from RBIMG  
    where BNO=#{bno}
  </select>
  
  <select id="selectOne" resultMap="BoardMap" parameterType="int">
    select b.BNO,b.TITLE,b.MLOCA,b.MTIME,b.MDAY,b.DISTANCE,b.TIME,
            b.PNUM,b.PH,b.CDT,b.RBTYPE,b.MNO,b.LOCA,m.MNM
    from RIDINGBOARD b inner join MEMBERS m 
    on b.mno=m.mno
    where BNO=#{no}
  </select>
  
  <select id="selectMap" parameterType="int" resultType="MapDot"> 
  select AB,BB from MAP where BNO=#{no} 
  </select>
   
  <select id="countAll" resultType="int">
    select count(*) 
    from RIDINGBOARD
  </select>
  
  <select id="getLast" parameterType="int" resultMap="BoardMap"> 
    select * from RIDINGBOARD order by BNO desc limit #{no}
  </select>
  
  <insert id="join" parameterType="map">
    insert into MEMBERLIST(BNO,MNO) 
    values(#{bno},#{mno})
  </insert>

	<select id="isJoin" parameterType="map" resultType="int">
		select count(*)
		from MEMBERLIST
		where BNO=#{bno} and MNO=#{mno}
	</select>
	
	<delete id="joinCancel" parameterType="map" >
    delete from MEMBERLIST 
    where BNO=#{bno} and MNO=#{mno}
  </delete>
</mapper>












