<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="pms.dao.BoardDao">
  <resultMap type="Board" id="BoardMap">
    <id     column="BNO"    property="bno"/>
    <result column="TITLE"    property="title"/>
    <result column="MLOCA"    property="mloca"/>
    <result column="MTIME"    property="mtime"/>
    <result column="DISTANCE"    property="distance"/>
    <result column="TIME"    property="time"/>
    <result column="PNUM"    property="pnum"/>
    <result column="PH"    property="ph"/>
    <result column="CDT"    property="createdDate"/>
    <result column="RBTYPE"    property="rbtype"/>
    <result column="MNO"    property="mno"/>
    <result column="LOCA"    property="loca"/>
  </resultMap>
  
  <insert id="insert" parameterType="Board">
    insert into RIDINGBOARD(TITLE,MLOCA,MTIME,DISTANCE,TIME,PNUM,PH,CDT,RBTYPE,MNO,LOCA) 
    values(#{title},#{mloca},#{mtime},#{distance},#{time},#{pnum},#{ph},now(),#{rbtype},#{mno},#{loca})
  </insert>
  
  <update id="update" parameterType="Board">
    update BOARDS set
      TITLE=#{title}, 
      CONTS=#{content}, 
      CDT=now() 
    where BNO=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from BOARDS 
    where BNO=#{no}
  </delete>

  <select id="selectList" resultMap="BoardMap" parameterType="map">
    select BNO, TITLE, VWCNT, CDT 
    from BOARDS
    order by BNO DESC
    limit #{startIndex}, #{length}
  </select>
  
  <select id="selectOne" resultMap="BoardMap" parameterType="int">
    select BNO, TITLE, CONTS, VWCNT, CDT 
    from BOARDS
    where BNO=#{no}
  </select>
  
  <select id="countAll" resultType="int">
    select count(*) 
    from BOARDS
  </select>
</mapper>












